# Public Bradbury configuration. Never put a private key in this file.
VITE_MERITROUND_NETWORK=bradbury
VITE_GENLAYER_ENDPOINT=https://rpc-bradbury.genlayer.com
VITE_GENLAYER_CHAIN_ID=4221
VITE_MERITROUND_CONTRACT_ADDRESS=0x06404943AbFC5Da4c2fC664d5d17339F5f52F65e
